form a.btn-danger {
  margin-left: 5px;
}

body {
  margin-top: 20px !important;
}

.blog-header {
    padding-top: 2rem;
    padding-bottom: 1.25rem;
    margin-bottom: 0.5rem;
    border-bottom: .05rem solid #ddd;
}

.blog-title {
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: 400;
}

.blog-post-title {
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.posts-title {
  margin-bottom: 2rem;
  font-size: 2rem;
}

.new-title {
  margin-bottom: 3rem;
}
